# fly.toml app configuration file generated for badge-app-production on 2023-09-05T12:06:31-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "badge-app-production"
primary_region = "iad"

[build]

[deploy]
  release_command = ".fly/release.sh"

[env]
  PORT = "8910"
  REDWOOD_DISABLE_TELEMETRY = "1"

[http_service]
  internal_port = 8910
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
